.tablero-garantias-container {
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

// Scrollbars personalizados
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--surface-100);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--surface-300);
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover {
    background: var(--surface-400);
  }
}
