.presupuesto-detail-container {
  max-width: 1400px;
  margin: 0 auto;
}

.assigned-employee-detail {
  background-color: rgba(var(--primary-500), 0.1);
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
}
