server:
  port: 8080

spring:
  application:
    name: sigret

  datasource:
    url: jdbc:mysql://localhost:3306/sigret_db?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=America/Argentina/Cordoba
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        use_sql_comments: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:arroyo.service0@gmail.com}
    password: ${MAIL_PASSWORD:ssjl zdny zgun mbbb}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        timeout: 5000
        connectiontimeout: 5000
        writetimeout: 5000

logging:
  level:
    com.sigret: DEBUG
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

jwt:
  secret: SistemaGestorDeReparacionesTecnicas-SiGReT-2025-ArroyoElectromecanica_SecretKey
  expiration: 28800000        # 8 horas (desarrollo) - 28,800,000 ms
  refresh-expiration: 604800000  # 7 días - 604,800,000 ms

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
  allowed-headers: "*"
  allow-credentials: true


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
  show-actuator: false

sigret:
  mail:
    from: ${MAIL_FROM:ArroyoElectromecanica® <arroyo.service0@gmail.com>}
  frontend:
    url: ${FRONTEND_URL:http://localhost:4200}
  presupuesto:
    token-expiration-days: 7