services:
  mysql:
    image: mysql:8.0
    container_name: sigret-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sigret_db
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 10

  backend:
    build: ./sigret-backend
    container_name: sigret-backend
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/sigret_db?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=America/Argentina/Cordoba"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./sigret-front
    container_name: sigret-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql_data:
